--- layout: archive title: "Talks and presentations" permalink: /talks/ author_profile: true --- {% if site.talkmap_link == true %}
See a map of all the places I've given a talk!

{% endif %} {% assign posters = site.talks | where: "type", "Poster" %} {% assign coauthor = site.talks | where: "type", "Co-author talk" %} {% assign talks = site.talks | where_exp: "item", "item.type != 'Poster'" | where_exp: "item", "item.type != 'Co-author talk'" %} {% if talks.size > 0 %}
Talks

{% for post in talks reversed %} {% include archive-single-talk.html %} {% endfor %} {% endif %} {% if posters.size > 0 %}
Posters

{% for post in posters reversed %} {% include archive-single-talk.html %} {% endfor %} {% endif %} {% if coauthor.size > 0 %}
Talks given by co-authors

{% for post in coauthor reversed %} {% include archive-single-talk.html %} {% endfor %} {% endif %}
